.clients-tittle {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  margin: 0 0 50px 0;

  @media (min-width: 1200px) {
    font-size: 36px;
  }
}

.client {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: 1200px) {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  &__tile {
    width: 170px;
    height: 92px;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    fill: #afb1b8;
    text-align: center;
    padding: 16px 32px;
    flex-basis: calc((100% - 30px) / 2);

    @media (min-width: 320px) and (max-width: 420px) {
      flex-basis: calc((100% - 0px) / 1);
    }

    @media (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 3);
    }

    @media (mid-width: 1200px) {
      flex-basis: calc((100% - 150px) / 6);
    }

    &:hover,
    &:focus {
      border-color: rgba(33, 150, 243, 1);
      fill: #2196f3;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
