.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding-left: 15px;
  padding-right: 23px;

  @media screen and (min-width: 768px) {
    height: 80px;
    justify-content: space-between;
    padding-right: 0;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 0;
    justify-content: normal;
  }
}

.logo {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  line-height: 1.19;

  &__span {
    color: rgba(33, 150, 243, 1);
  }
}
.navigation {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 254px;
    list-style: none;

    @media screen and (min-width: 1200px) {
      margin-left: 94px;
    }
  }

  &__item {
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color: rgba(33, 33, 33, 1);
    list-style: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contact-navigation {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 0;
    margin-left: 371px;
    padding-right: 0;
  }

  &__item {
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color: rgba(117, 117, 117, 1);
    fill: #757575;
    display: flex;
    align-items: center;

    @media (min-width: 1200px) {
      &:first-child {
        margin-right: 50px;
      }
    }

    &:hover,
    &:focus {
      color: rgba(33, 150, 243, 1);
      fill: #2196f3;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__icon {
    margin-right: 10px;
  }
}

.choice {
  &::after {
    content: "";
    border-bottom: 4px solid rgba(33, 150, 243, 1);
    display: flex;
    border-radius: 3px;
    position: relative;
    top: 29.7px;
  }
}

.open-nav {
  display: flex;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-width: 0;
    background-color: rgb(255, 255, 255);

    &:hover,
    &:focus {
      fill: rgba(33, 150, 243, 1);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
